PORT=8000
# MONGO_URI=mongodb+srv://mostafaaglan6_db_user:pJyoBKYpxjIxeVRm@habit-tracker-dev.tbuieed.mongodb.net/?appName=habit-tracker-dev
MONGO_URI=Mongo_URL
JWT_SECRET=JWT_SECRET
JWT_EXPIRES_IN=30d

GEMINI_API_KEY=
GEMINI_MODEL=
CLIENT_URL=